#------------------------------------------------------------------

# ex : ES_VERSION=7.2.1
# ex : KIBANA_VERSION=7.2.0
# ex : GATEKEEPER_VERSION=10.0.0 
# ex : HYPERAUTH_URL=hyperauth.org
# ex : KIBANA_CLIENT_SECRET=e720562b-e986-47ff-b040-9513b91989b9
# ex : ENCRYPTION_KEY=AgXa7xRcoClDEU0ZDSH4X0XhL5Qy2Z2j
# ex : CUSTOM_DOMAIN_NAME=tmaxcloud.org
# ex : FLUENTD_VERSION=v1.4.2-debian-elasticsearch-1.1 or rollover v1.14.3-debian-elasticsearch7-1.0
# ex : BUSYBOX_VERSION=1.32.0
# ex : STORAGECLASS_NAME=csi-cephfs-sc

# ex : REGISTRY=192.168.6.171:5000

#------------------------------------------------------------------
ES_VERSION={ES_VERSION}
KIBANA_VERSION={KIBANA_VERSION}
GATEKEEPER_VERSION={GATEKEEPER_VERSION}
HYPERAUTH_URL={HYPERAUTH_URL}
KIBANA_CLIENT_SECRET={KIBANA_CLIENT_SECRET}
ENCRYPTION_KEY={ENCRYPTION_KEY}
CUSTOM_DOMAIN_NAME={CUSTOM_DOMAIN_NAME}
FLUENTD_VERSION={FLUENTD_VERSION}
BUSYBOX_VERSION={BUSYBOX_VERSION}
STORAGECLASS_NAME={STORAGECLASS_NAME}

REGISTRY={REGISTRY}
